:root {
    --clr-Cyan: hsl(179, 62%, 43%);
    --clr-light-cyan: hsl(179, 47%, 52%);
    --clr-Bright-Yellow: hsl(71, 73%, 54%);
    --clr-Light-Gray: hsl(204, 43%, 93%);
    --clr-Grayish-Blue: hsl(218, 22%, 67%);
    --clr-white: #fff;

    --space-300: 0.5rem;
    --space-400: 1rem;
    --space-500: 1.5rem;
    --space-600: 2rem;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.3rem;
    --fs-800: 2rem;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--clr-Light-Gray);
    font-size: var(--fs-400);
}

main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: calc(100vh - 100px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.top-container {
    max-width: 43rem;
    margin: 4rem auto;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

h1 {
    font-size: var(--fs-500);
    font-weight: bold;
    margin-bottom: var(--space-400);
}

p {
    line-height: 1.5;
}

section {
    padding: var(--space-500);
}

.community {
    background-color: var(--clr-white);
}

.community h1 {
    color: var(--clr-Cyan);
    font-size: var(--fs-600);
}

.community h2 {
    font-size: var(--fs-400);
    font-weight: bold;
    color: var(--clr-Bright-Yellow);
    margin-bottom: var(--space-400);
}

.community p {
    color: var(--clr-Grayish-Blue);
}

.subscription {
    background-color: var(--clr-Cyan);
    color: var(--clr-Light-Gray);
}

.subscription h2 {
    font-size: var(--fs-400);
    margin-bottom: var(--space-400);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--space-400);
}

.subscription__price {
    font-size: var(--fs-800);
    font-weight: bold;
}

.subscription span:nth-child(2) {
    opacity: 0.7;
}

.subscription p {
    font-size: var(--fs-400);
    margin-bottom: var(--fs-400);
}

button {
    background-color: var(--clr-Bright-Yellow);
    border: 3px solid var(--clr-Bright-Yellow);
    font-family: inherit;
    width: 100%;
    padding: var(--space-300) 0;
    font-size: var(--fs-400);
    color: var(--clr-white);
    border-radius: 7px;
    -webkit-box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button:hover {
    letter-spacing: 2px;
    background-color: hsl(71, 64%, 52%);
}

.about-us {
    background-color: var(--clr-light-cyan);
    color: var(--clr-Light-Gray);
}

.about-us p {
    font-size: var(--fs-300);
}


.attribution {
    --fs-attb: 14px;
    text-align: center;
    line-height: 1.6;
    font-size: var(--fs-attb);
    padding: 0.3rem 0.5rem;
    color: var(--clr-Cyan);
    border-left: 2px solid var(--clr-Cyan);
    border-right: 2px solid var(--clr-Cyan);
    border-radius: 10px;
    margin: 1rem auto;
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}

.attribution a {
    background: -webkit-gradient(linear, left top, right top, from(#f32170),
            color-stop(#ff6b08), color-stop(#cf23cf), to(#eedd44));
    background: -o-linear-gradient(left, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom: 2px dotted var(--clr-Cyan);
    text-decoration: none;
    font-size: calc(var(--fs-attb) + 4px);
}

.attribution a:hover {
    background: var(--clr-Cyan);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


@media (min-width: 40rem) {

    :root {
        --space-300: 1rem;
        --space-500: 2.5rem;

        --fs-400: 1.1rem;
        --fs-600: 1.5rem;
    }

    .top-container {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .community {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }

    .community h2 {
        font-size: var(--fs-500);
    }

    .subscription {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }

    .about-us {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
}
